<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329277104561-k0a8dunem34h4ig9l3ajdu7fusqknmkd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329277104561-k0a8dunem34h4ig9l3ajdu7fusqknmkd</string>
	<key>API_KEY</key>
	<string>AIzaSyBFFl7Bp99TYxmTL4REFxz7HL4-36PfMuA</string>
	<key>GCM_SENDER_ID</key>
	<string>329277104561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ruvu.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ruvu-reporting-application</string>
	<key>STORAGE_BUCKET</key>
	<string>ruvu-reporting-application.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329277104561:ios:b2e874627a79359f7c9d90</string>
	<key>DATABASE_URL</key>
	<string>https://ruvu-reporting-application-default-rtdb.firebaseio.com</string>
</dict>
</plist>